<br>
<br>
<table *ngIf="c_clients?.length > 0; noClients" class="table">
  <thead class="bg-danger text-light">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of c_clients[0] let i = index">
      <td>{{ i+1 }}</td>
      <td>{{client.firstName}} {{client.lastName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.balance}}</td>
      <td><a href="" class="btn btn-secondary btn-sm"><i class=" fa fa-arrow-circle-o-right"></i>Details</a></td>
    </tr>
  </tbody>
</table>

<ng-template #noClient>
  <h4>
    There is not client in the database
  </h4>
</ng-template>